{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link>
        <title>home</title>
    </head>
<body>
    <link rel="stylesheet" href="{% static 'home.css' %}"> 
    <link rel="stylesheet" href="{% static 'index.css' %}"> 

    <header>
        <h2 class="logo"> <a href="{% url 'index' %}">To-Do</h2>
        <nav class="navigation">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'todo' %}">To-Do_List</a>
            <a href="{% url 'contact' %}">contact</a>
        </nav>
        <div class="right-col">
            <p>Click Here TO Listen</p>
            <img src="{% static "play.png" %}" id="icon">
    
        </div>
        <audio id="mySong">
            <source src="{% static "music.mp3" %}" type="audio/mp3">
        </audio>
    <script>
    var mySong = document.getElementById("mySong");
    var icon = document.getElementById("icon");
    
    icon.onclick = function() {
        if(mySong.paused){
            mySong.play();
            icon.src="{% static "pause.png" %}";
        }else{
            mySong.pause();
            icon.src="{% static "play.png" %}";
        
        }
    }
    </script>
    <style>
    .right-col {
        float: right;
        margin-right: 6%;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    
    .right-col p {
        font-size: 18px;
        color: rgb(255, 208, 208);
        font-weight: 400;
        margin-right: 15px;
    }
    
    #icon {
        width: 80px;
        cursor: pointer;
    }
    </style>

    </header>

    <div class="slider">
        

        <span style="--i:1;"><img src="{% static "1.jpg" %}" alt=""></span>
        <span style="--i:2;"><img src="{% static "2.jpg" %}" alt=""></span>
        <span style="--i:3;"><img src="{% static "3.jpg" %}" alt=""></span>
        <span style="--i:4;"><img src="{% static "4.jpg" %}" alt=""></span>
        <span style="--i:5;"><img src="{% static "5.jpg" %}" alt=""></span>
        <span style="--i:6;"><img src="{% static "6.jpg" %}" alt=""></span>
        <span style="--i:7;"><img src="{% static "7.jpg" %}" alt=""></span>
        <span style="--i:8;"><img src="{% static "8.jpg" %}" alt=""></span>


       


 
</body>
</html>